.vlm-main-body-container {
  max-width: 1180px;
  width: 100%;
  margin: auto;

  .vlm-main-body-wrapper {
    padding: 0 30px;

    .chat-cards-container {
      margin-top: 16px;

      display: flex;
      gap: 12px;

      margin-bottom: 30px;
    }
  }
}
